body {
  font-family: Arial, sans-serif;
  background-image:url("snowflakes.png");
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #c62828;
  color: white;
  padding: 20px 0;
  font-size: 3rem;
  font-weight: bold;
}

#countdown {
  font-size: 3rem;
  margin: 20px 0;
  color: #fc0303;
}

.wishlist-container {
  width: 50%;
  max-width: 200px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.wishlist-container h2 {
  color: #2dfc80;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 8px 0;
  background: #fc0303;
  border-left: 5px solid #c62828;
  border-right: 5px solid #c62828;
  border-radius: 6px;
}

footer {
  margin-top: 30px;
  padding: 15px;
  color: #555;
}
